{% extends 'base.html' %}
{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}
    <!-- {{ block.super }} -->
    <h1>Product List</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product:edit_product' product.id %}">{{product.name}}</a></td>
            <td>{{product.price}}</td>
            <td>{{product.fullname}}</td>
            <td>{{product.address}}</td>
            <td>{{product.contact}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.category}}</td>
            <td>{{product.status}}</td>
            <td><a href="{% url 'product:delete_product' product.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}